body {
  background: url("./meshbg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  margin: 0;
  color: white;
  overflow: hidden;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

h4 {
  text-align: center;
  margin-top: 10px;
}

#header {
  text-align: center;
  margin-top: 60px;
}

#paragraphsize {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
}

#btn1 {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 40px;
  width: 140px;
  height: 60px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}
#btn2 {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 40px;
  width: 140px;
  height: 60px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}
#btn3 {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 40px;
  width: 140px;
  height: 60px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}

.active {
  color: white;
  border-color: white;
}

#startbuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#start {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 40px;
  width: 280px;
  height: 80px;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}